div[data-btn-id=copy-link] {
  transition: background .3s;
}

.egch-menu-btn:hover {
  /*noinspection CssUnresolvedCustomProperty*/
  background-color: var(--dialog-highlighted-bg-color);
}

code.hljs, span[data-highlighted="1"]+div{
  border-radius: 8px;
  margin: 8px 0;
  padding: 8px !important;
}

.hljs * {
  font-family: "Roboto Mono", "Courier New", monospace !important;
  font-weight: normal !important;
}
